<!-- Menu -->
<div style="text-align:right">
  <a mat-icon-button href="https://github.com/fbaldo31/ngx-mat-circle-counter/blob/master/README.md">
    <mat-icon class="octicon octicon-file"></mat-icon>
  </a>
  <a mat-icon-button href="https://github.com/fbaldo31/ngx-mat-circle-counter.git">
    <mat-icon class="octicon octicon-mark-github"></mat-icon>
  </a>
</div>

<!-- Title -->
<div class="header" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </h1>
</div>

<!-- Doc  <section class="doc">
  <h2 class="mat-h2">Installation  <pre><code>yarn add ngx-mat-circle-counter</code></pre></h2>
  
  Then import <pre><code> NgxMatCircleCounterModule</code></pre> in your <pre><code>app.module</code></pre>

  <h2 class="mat-h2">Documentation</h2>

  <table>
    <tr><th>Attributes</th><th>Type</th><th>Default value</th><th>Description</th></tr>
    
    <tr><td>start</td><td>number</td><td>0</td><td>The value from the counter starts</td></tr>
    <tr><td>size</td><td>'xs' | 's' | 'm' | 'l' | 'xl'</td><td>'m'</td><td>From 100px to 300px</td></tr>
    <tr><td>color</td><td>string</td><td>'primary'</td><td>Angular Material theme based color.</td></tr>
    <tr><td>textColor</td><td>string</td><td>'' (black)</td><td>As there is no way to inherit font color from theme, put directly the font color there.</td></tr>
    <tr><td>speed</td><td>number</td><td>10</td><td>Delay in millisecond to increase the counter.</td></tr>
    <tr><td>value</td><td>number</td><td>100</td><td>The value to the counter ends</td></tr>
    <tr><td>mode</td><td>'viewport' | 'pageinit'</td><td>'viewport'</td><td>In viewport mode, counter won't start untill it is visible.</td></tr>    
  </table>
</section> -->

<section class="doc">
  <a mat-icon-button href="https://github.com/fbaldo31/ngx-mat-circle-counter/blob/master/README.md">
    Read documentation
  </a>
</section>

<!-- Form -->
<section class="aside">
    <h2 class="mat-h4">Play with the API</h2>
    <mat-form-field class="col-2">
      <mat-label>Start</mat-label>
      <input matInput type="number" name="start" [(ngModel)]="start" (change)="applyChanges()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Size</mat-label>
      <mat-select [(ngModel)]="size" name="size" (change)="applyChanges()">
        <mat-option [value]="'xs'">xs</mat-option>
        <mat-option [value]="'s'">s</mat-option>
        <mat-option [value]="'m'" selected>m</mat-option>
        <mat-option [value]="'l'">l</mat-option>
        <mat-option [value]="'xl'">xl</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput type="text" name="color" [(ngModel)]="color" (change)="applyChanges()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Text color</mat-label>
      <input matInput type="text" name="textColor" [(ngModel)]="textColor" (change)="applyChanges()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Speed</mat-label>
      <input matInput type="number" name="speed" [(ngModel)]="speed" (change)="applyChanges()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput type="number" name="value" [(ngModel)]="value" (change)="applyChanges()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mode</mat-label>
      <mat-select [(ngModel)]="mode" (change)="applyChanges()">
      <mat-option [value]="'pageinit'">pageinit</mat-option>
      <mat-option [value]="'viewport'" selected>viewport</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Thickness</mat-label>
      <input matInput type="number" name="thickness" [(ngModel)]="thickness" min="1" max="100" (change)="applyChanges()">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="applyChanges()">Apply Changes</button>
  
</section>

<!-- Example -->
<section class="main">
    <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div>
        <pre class="code">
        <code>
          &lt;ngx-mat-circle-counter 
            [start]="{{start}}"
            [color]="'{{color}}'" 
            [textColor]="'{{textColor}}'" 
            [size]="'{{size}}'"
            [speed]="{{speed}}"
            [value]="{{value}}"
            [mode]="{{mode}}"
            [thickness]="{{thickness}}">
          &lt;/ngx-mat-circle-counter>
        </code>
        </pre>
          
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-mat-circle-counter *ngIf="isVisible"
        [start]="start"
        [color]="color" 
        [textColor]="textColor" 
        [size]="size"
        [speed]="speed"
        [value]="value"
        [mode]="mode"
        [thickness]="thickness"></ngx-mat-circle-counter>
    </mat-grid-tile>
  </mat-grid-list>

</section>

<footer>
  &copy; 2019 All rights reserved.
</footer>